@import "antd/dist/reset.css";

$white:#fff;
$gray:#ddd;

.layout {
    width: 100%;
    min-height: 100vh;
    background-color: $white;

    .header,
    .sider,
    .content,
    .footer {
        background-color: $white;
    }

    .footer,
    .header {
        background-color: $white;
    }

    .footer {
        border-top: 1px solid $gray;
    }

    .header {
        border-bottom: 1px solid $gray;

        .ant-menu-horizontal {
            border: none;
        }
    }

    .sider {
        background-color: $white;
        border-right: 1px solid $gray;

    }
}